#!/bin/sh

{{- if eq .chezmoi.hostname "gbottari-personal" }}
setxkbmap -device 4 -model pc105 -layout us -option caps:escape
setxkbmap -device 20 -model pc105 -layout us -variant alt-intl -option caps:escape
{{- end }}
{{- if eq .chezmoi.hostname "zenbook" }}
setxkbmap -device 3 -model pc105 -layout br -option caps:escape
setxkbmap -device 16 -model pc105 -layout us -variant alt-intl -option caps:escape
{{- end }}

xmodmap /home/gbottari/.Xmodmap

